:root {
    --primary-background-color: #ff9800;
    --primary-color: #fff;
    --primary-background-hover: #e65100;
    --secondary-background: #607d8b;
    --secondary-background-hover: #263238;
  }